* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    padding-block: 2rem;
    background-color: bisque;
    height: 100vh;
    overflow: scroll;
}

h1 {
    text-align: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding-inline: 2rem;
    padding-block: 10px;
    border-radius: 10px;
    background-color: #28282b;
    color: beige;
}

ul {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    width: 5rem;
    padding: 1rem;
    border-radius: 10px;
}
